html {
  scroll-behavior: smooth;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: absolute;
  z-index: 50;
  position: fixed;
}
body {
  background: linear-gradient(#ebf0f7, #eae7f3);
  height: 100%;
  margin: 0 auto;
}
.body2 {
  background: linear-gradient(#959fbe, #dfd9e6);
  height: 100%;
  margin: 0 auto;
}
@keyframes anime1 {
  0% {
    opacity: 0; /* 透明度指定 */
  }
  100% {
    opacity: 1; /* 透明度指定 */
  }
}
@keyframes anime2 {
  0% {
    opacity: 0; /* 透明度指定 */
    top: 25px;
  }
  100% {
    opacity: 1; /* 透明度指定 */
    top: 0;
  }
}
.all a:hover img {
  opacity: 0.6;
  transition: 0.5s;
}
.logo {
  position: fixed;
  top: 5px;
  left: 5px;
}
.logo img {
  width: 95px;
}
.merumo {
  font-family: ab-andante, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  top: 10px;
  left: 100px;
  position: fixed;
}
a {
  text-decoration: none;
}
/* ここから下がハンバーガーメニューに関するCSS */

/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50px;

  right: 40px;
  z-index: 100; /* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: "";
  display: block;
  height: 1px;
  width: 40px;

  border-radius: 2px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 14px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 14px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
  background-color: rgb(43, 118, 161);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: rgb(43, 118, 161);
}

/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgb(176, 190, 204);
  /* background-image: url(../image/rain.jpeg); */
  transition: 0.5s;

  padding-top: 20px;
}
.nav_content img {
  max-width: 100%;

  position: absolute;
  bottom: 0px;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
  margin-top: 90px;
}

.nav_item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 30px;
  font-family: ab-andante, sans-serif;
}
.current-page a {
  color: rgb(43, 118, 161);
  text-decoration: none;
  font-size: 30px;
  font-family: ab-andante, sans-serif;
}

.nav_list li {
  margin-top: 50px;
  margin-left: 75px;
}
.nav_list a:hover {
  transition: 0.5s;
  opacity: 0.5;
  color: #1f569e;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left: 0; /* メニューを画面に入れる */
}

.taitleimg {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  animation: anime2 0.8s ease;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  margin-top: -100px;
}
.taitle_font {
  font-family: "ab-yogurt", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.btn_top {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn_top div {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  margin: 0 10px;
  background-color: white;
  border-radius: 0.7cm;
  box-shadow: 1px 2.5px 10px -1px rgb(205, 207, 211);
  margin-top: 20px;
}

.taitleimg2 {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  position: relative;
  animation: anime2 0.8s ease;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.taitleimg2 img {
  z-index: -50;
}

.taitleimg2 h1 {
  font-family: ab-andante, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}
.work h1 {
  font-family: ab-andante, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}
.work {
  text-align: center;
  margin-top: 350px;
  margin-bottom: -150px;
  max-width: 400px;
  text-decoration: none;
  position: relative;
  animation: anime2 0.8s ease;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.work a:hover {
  transition: 0.5s;
  opacity: 0.6;
}
.icon a:hover {
  transition: 0.5s;
  opacity: 0.6;
}
.white img,
.black img {
  max-width: 225px;
  border-radius: 0.2cm;
  margin-top: 25px;
  max-height: 150px;
}
.white {
  background-color: white;
  font-family: sans-serif;
  width: 300px;
  margin: 0 auto;
  text-decoration: none;
  /* padding-top: 25px;
  padding-bottom: 75px; */

  height: 290px;
  border-radius: 0.3cm;
  box-shadow: 1px 2.5px 10px -1px rgb(205, 207, 211);
  margin-top: 25px;
  margin-bottom: 50px;
}
.black {
  background-color: #3e4b5a;
  font-family: sans-serif;
  color: #fff;
  width: 300px;
  margin: 0 auto;
  height: 290px;
  text-decoration: none;

  /* padding-top: 25px;
  padding-bottom: 75px; */
  border-radius: 0.3cm;
  box-shadow: 1px 2.5px 10px -1px rgb(82, 83, 85);
  margin-top: 25px;
  margin-bottom: 50px;
}
.black a {
  color: #fff;
}
.white a {
  color: rgb(54, 54, 56);
}
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.another img {
  width: 300px;
  border-radius: 0.3cm;
  box-shadow: 1px 2.5px 5px -1px rgb(148, 150, 153);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  position: relative;
  animation: anime2 0.8s ease;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}
.another {
  background-color: white;
  width: 350px;
  /* height: 00px; */
  margin: 0 auto;
  margin-top: -25px;
  border-radius: 0.7cm;
  margin-bottom: 150px;
  padding-bottom: 15px;
}
.icon img {
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
}
.icon {
  margin-top: 300px;
  text-align: center;
  margin-bottom: 50px;
}
.profile img {
  max-width: 200px;
  border-radius: 50%;
  margin-top: 25px;
}
.profile {
  text-align: center;
  position: relative;
  animation: anime2 0.8s ease;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.profile h1 {
  font-family: ab-yogurt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  margin-top: 10px;
}
.profile p {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 12px;
}
.skill {
  margin: 0 auto;
  text-align: center;
  position: relative;
  animation: anime2 0.8s ease;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}
.skill h1 {
  margin-top: 50px;
  font-family: ab-andante, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}
.skillflex {
  font-family: sans-serif;
}
img[alt="webimg"] {
  width: 100px;
}
.skillflex2 img {
  width: 50px;
}
.skillflex2 figcaption {
  font-family: sans-serif;
  font-size: 12px;
}
.skillflex2 {
  display: flex;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 25px;
}
.skillflex2 figure {
  margin: 0 auto;
}
.photoimg img {
  max-width: 150px;
  border-radius: 1.5cm;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
}
.photo {
  margin-top: 150px;
  text-align: center;
  position: relative;
  animation: anime2 0.8s ease;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}
img[alt="mizuneko"] {
  width: 250px;
  position: absolute;
  margin-top: -100px;
  z-index: -50;
}
img[alt="mizuneko2"] {
  width: 250px;
  position: absolute;
  margin-top: -100px;
  right: 0;
  z-index: -50;
}

footer p {
  color: #8687c5;
}
footer {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.w_merumoTop {
  background-color: white;
  width: 350px;
  /* height: 00px; */
  margin: 0 auto;
  margin-top: -25px;
  border-radius: 0.7cm;
  margin-bottom: 150px;
  padding-bottom: 15px;
}
.w_taitle {
  font-family: "felt-tip-woman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}
.b_taitle {
  color: white;
  font-family: "felt-tip-woman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}

.w_merumoTop img {
  margin: 0 auto;
  text-align: center;
  margin-left: 25px;
  max-width: 300px;
}
img[alt="b"] {
  margin-top: 25px;
}
.twitter {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 160px;
  margin-top: 160px;
  background-color: white;
  border-radius: 0.7cm;
  width: 350px;
  padding-bottom: 25px;
  padding-top: 10px;
}
.twittersec {
  display: inline-block;
}
.twittersec img {
  /* display: flex; */
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: -15px;
}
/* .twitch iframe {
} */
.twitch {
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
  background-color: white;
  border-radius: 0.7cm;
  width: 350px;
  padding-bottom: 25px;
  padding-top: 10px;
}

.twicth_logo {
  margin-top: 25px;
  margin-bottom: -15px;
}
.newssec img {
  max-width: 300px;
  margin-top: 20px;
  border: #bbb3e2 solid 2px;
}
.newssec p {
  margin-top: 0px;
}
.news {
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
  background-color: white;
  border-radius: 0.7cm;
  width: 350px;
  padding-bottom: 25px;
  padding-top: 10px;
}
.borderLine {
  max-width: 300px;
  border: dashed 1px #8e7edf;
  margin-top: 25px;
}
.top_taitle {
  font-family: "felt-tip-woman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
img[alt="newsIcon"] {
  max-width: 50px;
  margin-top: 15px;
}
img[alt="twitchIcon"] {
  max-width: 45px;
  margin-top: 15px;
}

img[alt="twitterIcon"] {
  max-width: 50px;
  margin-top: 20px;
}
img[alt="white_merumo"] {
  max-width: 70px;
  margin-top: 5px;
}
img[alt="black_merumo"] {
  max-width: 70px;
  margin-top: 5px;
}
img[alt="work_icon"] {
  max-width: 55px;
  margin-top: 13px;
}
.w_merumoTop h1 {
  font-family: ab-yogurt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-top: 10px;
  text-align: center;
}
.w_merumoTop p {
  font-family: ab-yogurt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}
img[alt="p_icon"] {
  width: 100px;
  border-radius: 50%;
  box-shadow: 1px 2.5px 5px -1px rgb(205, 207, 211);
}
.flex2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.flex2 .produce2 {
  margin: 0 7px;
}
.produce {
  text-align: center;
  background-color: white;
  width: 350px;
  /* height: 00px; */
  margin: 0 auto;
  margin-bottom: 100px;
  border-radius: 0.7cm;
  padding-top: 25px;
  padding-bottom: 15px;
}
.yukina_word {
  margin-right: -15px;
}
.another h2 {
  font-family: "felt-tip-woman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
  margin-top: 100px;
}
.another {
  text-align: center;
}
.smallText {
  font-size: 12px;
}
.twitterLogo img {
  width: 40px;
}
.twitterLogo {
  text-align: center;
  margin-top: 25px;
  margin-left: -20px;
}
.b_merumo_white {
  color: white;
}
@media screen and (min-width: 768px) {
  .nav_list {
    display: flex;

    height: 75px;
    margin-top: 0px;
    justify-content: right;
    position: fixed;
    right: 100px;
    top: 5px;
    margin-left: 500px;
    width: 100%;
    /* margin-left: 400px; */
  }
  ul {
    position: fixed;
    justify-content: right;
  }
  .nav_list li {
    justify-content: right;
    margin-left: 30px;
    margin-left: 30px;
    font-size: 30px;
    font-family: ab-andante, sans-serif;
  }
  .nav_item a {
    justify-content: right;
    color: #333;
  }
  .body2 .nav_item a {
    justify-content: right;
    color: #fff;
  }
  .drawer_open {
    display: none;
  }
  .current-page a {
    color: rgba(62, 64, 66, 0.473);
  }
  .nav_content {
    position: relative;
  }
  .nav_content img {
    display: none;
  }
  .taitleimg img {
    max-width: 500px;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .taitleimg2 img {
    max-width: 450px;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .taitleimg2 h1 {
    margin-top: -550px;
    margin-bottom: 650px;
    font-size: 50px;
  }

  .work h1 {
    font-family: ab-andante, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
  }
  .white img,
  .black img {
    max-width: 275px;
    border-radius: 0.2cm;
    margin-top: 25px;
    max-height: 200px;
  }
  .white {
    background-color: white;
    width: 350px;
    margin: 0 auto;
    /* padding-top: 25px;
    padding-bottom: 75px; */

    height: 340px;
    border-radius: 0.3cm;
    box-shadow: 1px 2.5px 10px -1px rgb(205, 207, 211);
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 75px;
    margin-right: 75px;
  }
  .black {
    background-color: #3e4b5a;
    color: #fff;
    width: 350px;
    margin: 0 auto;
    height: 340px;

    /* padding-top: 25px;
    padding-bottom: 75px; */
    border-radius: 0.3cm;
    box-shadow: 1px 2.5px 10px -1px rgb(82, 83, 85);
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 75px;
    margin-right: 75px;
  }
  .work {
    margin: 0 auto;
    text-align: center;
    margin-top: 360px;
    max-width: 1500px;
  }

  .another img {
    width: 300px;
    border-radius: 0.3cm;
    box-shadow: 1px 2.5px 5px -1px rgb(148, 150, 153);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    position: relative;
    animation: anime2 0.8s ease;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
  }

  .another {
    margin-top: -15px;
  }
  .profile img {
    max-width: 275px;
    border-radius: 50%;
    margin-top: 25px;
  }

  .profile h1 {
    font-family: ab-yogurt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 10px;
  }
  .profile p {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 15px;
  }
  .skillflex {
    display: flex;
    margin: 0 auto;
    max-width: 750px;
    margin-top: -25px;
  }
  .skill h1 {
    margin-top: 75px;
    font-family: ab-andante, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
  }
  img[alt="webimg"] {
    margin-top: 10px;
    height: 100px;
    width: 150px;
  }
  .skillflex2 img {
    width: 100px;
  }
  .skillflex2 figcaption {
    font-family: sans-serif;
    font-size: 15px;
  }
  .skillflex2 {
    margin: 0 auto;
    margin-top: 25px;
    margin-left: -40px;
    margin-right: 0;
  }
  .skillflex2 figure {
    margin: 0 auto;
    margin-left: 65px;
  }
  .photoimg img {
    max-width: 200px;
    border-radius: 2.3cm;
    margin-top: 150px;
    margin-bottom: -100px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 1500px) {
  .work {
    margin: 0 auto;
    text-align: center;
    margin-top: 360px;
    max-width: 1000px;
  }
}
@media screen and (max-width: 959px) {
  .taitleimg img {
    max-width: 450px;
    margin-top: 300px;
  }
  .taitleimg2 img {
    max-width: 475px;
    margin-top: 200px;
  }
  .taitleimg2 h1 {
    margin-top: -550px;
    margin-bottom: 650px;
    font-size: 50px;
  }
  .work {
    text-align: center;
    margin-top: 350px;
    margin-bottom: -150px;
    max-width: 500px;
  }
  .nav_list {
    justify-content: right;
    position: fixed;
    right: 50px;
    top: 5px;
  }
}
@media screen and (max-width: 480px) {
  .taitleimg img {
    max-width: 300px;
    margin-top: 250px;
  }
  .taitleimg2 img {
    max-width: 350px;
    margin-top: 130px;
  }
  .taitleimg2 h1 {
    margin-top: -400px;
    margin-bottom: 500px;
    font-size: 30px;
  }
  .nav_list {
    justify-content: right;
    position: relative;
    left: 5px;
  }
}
@media screen and (max-width: 380px) {
  .taitleimg img {
    max-width: 275px;
    margin-top: 175px;
  }
  .taitleimg2 img {
    max-width: 250px;
    margin-top: 125px;
  }
  .taitleimg2 h1 {
    margin-top: -300px;
    margin-bottom: 400px;
    font-size: 30px;
  }
}
